

@font-face {
    font-family: "rubik300";
    src: url("../fonts/Rubiklight.woff2") format("woff2"),
         url("../fonts/Rubiklight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rubik500";
    src: url("../fonts/Rubikmedium.woff2") format("woff2"),
         url("../fonts/Rubikmedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "akrobat400";
  src: url("../fonts/akrobat_regular.woff2") format("woff2"),
  url("../fonts/akrobat_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "akrobat500";
    src: url("../fonts/akrobat.woff2") format("woff2"),
         url("../fonts/akrobat.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "akrobat600";
    src: url("../fonts/Akrobatbold.woff2") format("woff2"),
         url("../fonts/Akrobatbold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$h1-font-family: akrobat500;



/*
h1 
font-family: Akrobat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;


1
font-family: Akrobat;
font-weight: 500, 600
font-size: 24px, 36px, 
line-height: 140%, 133%

font-family: Rubik;
font-weight: 300, 500,
font-size: 21px, 18px, 16px, 14px, 12
line-height: 14 19px, 21px, 24px
letter-spacing: -0.05em;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 32px;







*/