@font-face {
    font-family: "Rubik";
    src: url($font-url);
}

@font-face {
    font-family: "akrobat";
    src: url("../fonts/akrobat.woff2") format("woff2"),
         url("../fonts/akrobat.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


$h1-font-family: akrobat;
$h1-font-style: normal;
$h1-font-weight: 500;
$h1-font-size: 36px;
$h1-line-height: 43px;

/*
h1 
font-family: Akrobat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

p body
font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 18px; 16 
line-height: 24px;
1
font-family: Akrobat;
font-weight: 500, 600
font-size: 24px, 36px, 
line-height: 140%, 133%

font-family: Rubik;
font-weight: 300, 500,
font-size: 21px, 18px, 16px, 14px, 12
line-height: 14 19px, 21px, 24px
letter-spacing: -0.05em;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 32px;







*/