@import "variables";
@import "colors";
@import "fonts";
@import "layout";
@import "semantic-ui-config";

// TODO: remove any code below this line. Only imports should be inside styles.sass
.test-bull-shit-of-course {
  background-color: $text-menu-color-black;
}
  
.module-border-wrap {
  width: 30 + 45%;
  height: 10px - 1;
  background: linear-gradient($boarder-button-grad);
}