$text-white: #F4F5F7;
$text-white-default: #FFF;
$text-green: #4C9988;
$text-gray: #6D8591;
$boarder-button-grad: 180deg, #69DD94, #39B698, #058E96;
$fog-white: #E9F6EE;
$text-black:#000000;

$header-black:#2F393F;
$header-green: #40C8B2;

$bg-gray: #4F4f4F;

$button-gradient-color:  #4EC19D, #1A9C9A;

/* slide 1 - top*/

$text-menu-color-black: #F4F5F7;
$bg-burger-color: #2F393F;
$bg-s1-bottom-color: #F9FAFB;

$text-green-color: #4C9988;
$text-s1-main-color: #6D8591;
$text-agree-color: #F9FAFB;
$button-agree-color: #CDCFD0;

/* slide 2 - who we are */
$bg-s2-color: #4F4F4F;
$header-s2-color: #40C8B2;
$p-s2-color: #FFF;
$list-s2-color: #F4F5F7;
$text-button-s2-color: #FFF;

/* slide 3 - partners */
$text-s3-color: #000;
$link-partner-color: #4C9988;

/* slide 4 - world*/

/* slide 5 - tech*/
$text-tech-color: #FFF;

/* slide 6 - values*/
$h2-s5-green-color: #4C98;
$text-values-color: #2F393F;

/* slide 7 - join us*/
$h2-vc-color: #4F4F4F;
$text-vc-color: #2F393F;

/* slide 8 - expectations*/
$h3-s8-color: #4C98;
$text-expect-color: #2F393F;

/* slide  - forms*/
$text-intern-color: #2F393F;
$bg-request-grad-color: #4C98, #65DF94;
$button-top-send-color: #E9F6EE;

/* map info */
$light-gray: #BDBDBD;
