.s1_content_text {
  font-family: Akrobat;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  color: #2f393f;
}

@font-face {
  font-family: "Akrobat";
  src: url("fonts/Akrobat.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
