//header button
.button-gradborder-wrap {
  display: flex;
  justify-content: center;
  height: 48px;
  min-width: 256px;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(180deg, #69DD94, #39B698, #058E96);
  margin-bottom: 14%;

  .teaser-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    font-family: $primary-font;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.05em;
    color: $text-green;
    background-color: $text-white-default;
    text-decoration: none;  
  }

  @media screen and (min-width: $desktop-width ) {
      margin-left: 0;
      margin-right: auto;
  }
}

.know-button {        
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;    
}

.ui.button.ntx-button,
.ntx-button {
  outline: 0;
  border: none;
  cursor: pointer;
  display: inline-block;    
  vertical-align: baseline;    
  text-transform: none;
  text-shadow: none;    
  text-decoration: none;
  user-select: none;
  font-size: 1.125em;
  text-align: center;    
  width: 256px;    
  min-height: 2.666667em;
  line-height: 2.666667em;
  &.mini {
      min-height: 2em;
      line-height: 2em;
  }
  &.rounded {
      border-radius: 1.333333em;
  }
  &.solid-white {
      color: $text-green;
      background-color: $fog-white;
      &:hover, &:focus {
          background-color: rgba($fog-white, 0.8);
      }
      padding: 0;
      margin: 0;
      font-weight: 400;
  }
  &.light-green-gd {
    background: linear-gradient(180deg, #4EC19D 0%, #1A9C9A 100%);
    color: $text-white;
  }
  &.lw {
    font-weight: 300;
  }
  &.outlined {
      color: $header-black;
      border: 1px solid $header-black;
  }
  &.inverted {
      border-color: $text-white;
      color: $text-white-default;
  }
}
.vacancy-button {
  text-align: center;
  width: 192px;
  margin-left: auto;
}